---
---

@import "{{ site.theme }}";
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
}

.links {
  float: right;
  border-right: 1px solid #bbb;
}

.navbar li a {
  display: block;
  color: black;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
}


.navbar li a:hover {
  background-color: green;
}

