---
---

@import "{{ site.theme }}";
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
}

.links {
  float: right;
  border-right: 1px solid #bbb;
}

.navbar li a {
  display: block;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
  background-color: black;
}
